# LVGL graphics library for the nav monitor
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_USE_CANVAS=y
CONFIG_LV_USE_TJPGD=y
CONFIG_LV_USE_FS_MEMFS=y
